{% extends "::layout/layout.html.twig" %}
{% block title %}Détails - BDE Exia{% endblock %}

{% block body %}

    <br>
    <div class="row">
        <!-- espace -->
        <div class="col-xs-12 col-md-2"></div>

        <!-- contenu de la page -->
        <div class="col-xs-12 col-md-8 thumbnail">
            <div class="col-xs-12">

                <!-- Illustration de l'article -->
                <div class="col-xs-12 col-sm-4">
                    <img src="{{asset('img/logo2.jpg') }}" class="img-responsive">
                </div>

                <!-- Espace -->
                <div class="col-sm-1"></div>

                <!-- Détails de l'article -->
                <div class="col-xs-12 col-sm-7">
                    <h3>Nom de l'article</h3>
                    <p>Prix</p>
                    <div class="btn-group-justified btn-group-sm">
                        <a class="btn btn-default" role="button" href="">Ajouter au panier</a>
                        {% if is_granted('ROLE_CESI') %}
                            <a class="btn btn-danger active" role="button" href="editer_article.html">Editer</a>
                        {% endif %}
                        {% if is_granted('ROLE_CESI') %}
                            <a class="btn btn-danger active" role="button" href="">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12">
                    <p></p>
                </div>
                <!-- Descriptions de l'article -->
                <div class="col-xs-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.</p>
                </div>
            </div>
        </div>

        <!-- panier -->
        <div class="col-xs-12 col-md-2">
            <div class="well">
                <h4>Panier</h4>
                3 item - 54,27 €
                <div class="">
                    <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                    <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                    <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                </div>
                <div>
                    <a href="#" class="btn btn-default">Commander</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}