{% extends "::layout/layout.html.twig" %}
{% block title %}Edition article - BDE Exia{% endblock %}

{% block body %}

    <br>
    <div class="row">
        <!-- espace -->
        <div class="col-lg-2"></div>
        <!-- contenu de la page -->
        <div class="col-lg-8">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <div class="col-xs-12"><h4 class="produit">Editer un article</h4></div>

                



                {%  for article in articles %}


                <p><a href="{{ path('edition_article', {'id':article.id}) }}">{{ article.nomArticle }}</a><p>

                {% endfor %}


                <div class="col-xs-12 form-group produit">
                    <button type="submit" class="btn btn-danger active">Envoyer</button>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <!-- espace -->
        <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}