{% extends "::layout/layout.html.twig" %}
{% block title %}Les associations - BDE Exia{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-lg-8">
            <h2 class="h2">Les Associations </h2>
            <hr></br>

            <p>Les associations sont composées d’un responsable, un vice-responsable et  d’exars. Faire parti d’une association, ça n’est pas simplement participer aux activités de l'association, c’est y être organisateur. Les activités de l'association sont ensuite proposées à tous les membres de l’école. L’école alloue un temps spécial pour le déroulement des activités le jeudi après-midi.</p>
            </br>

            <div class="row">
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-cutlery iconeassoc" aria-hidden="true"></span>
                        <h4>ENK</h4></div>
                    <div class="panel-body" align="center">Enk s’occupe des petits-pains le matin, de la vente de boissons, des pizzas le vendredi midi et approvisionnement des événements du BDE.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-flag iconeassoc" aria-hidden="true"></span>
                        <h4>EXIA'VENTURE</h4></div>
                    <div class="panel-body" align="center">Exia’venture propose d’apprendre à réaliser un jeu de rôle tout en apprenant les bases du jeu Donjons et Dragons.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-music iconeassoc" aria-hidden="true"></span>
                        <h4>EXIA MUSIQUE</h4></div>
                    <div class="panel-body" align="center">ExiaMusique est un petit groupe d’exars instrumentistes passionnés qui animent musicalement des événements de l’école, ils répètent tout les jeudi soir.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-fire iconeassoc" aria-hidden="true"></span>
                        <h4>A.R.E.S.</h4></div>
                    <div class="panel-body" align="center">A.R.E.S. s’adresse à tous les amateurs de robotique et d’I.A. Elle construit des robots et drones de façon pédagogique, et compte organise un tournois en fin d’année.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-globe iconeassoc" aria-hidden="true"></span>
                        <h4>PROMETHEUS</h4></div>
                    <div class="panel-body" align="center">Prométheus est une association qui conçoit et développe un intranet pour les exars, afin de partager du contenu pédagogique, avoir une plateforme de collaboration et gestion de projet… En somme un espace pour faciliter le contact entre les élèves.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-knight iconeassoc" aria-hidden="true"></span>
                        <h4>EXIA 1D</h4></div>
                    <div class="panel-body" align="center">Exia 1D est  une association de réalisation de jeux vidéo type plateforme, mobile et tower defense. Elle compte organiser une game jam participative dans l’année.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-file iconeassoc" aria-hidden="true"></span>
                        <h4>EXI@CTU'</h4></div>
                    <div class="panel-body" align="center">Exi@ctu’ est le journal de l’école. Elle propose une rédaction de qualité sur différentes thématiques. D’abord en PDF, elle est passé au format papier en 2015.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-off iconeassoc" aria-hidden="true"></span>
                        <h4>EXIA.LAN</h4></div>
                    <div class="panel-body" align="center">Exia.Lan organise chaque année des LAN qui rassemble des centaines de joueurs chaque année dans un esprit fun et de compétition.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-leaf iconeassoc" aria-hidden="true"></span>
                        <h4>LEVYA</h4></div>
                    <div class="panel-body" align="center">Levya est une association de développement et infra orienté Open Source.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-wrench iconeassoc" aria-hidden="true"></span>
                        <h4>FABEX</h4></div>
                    <div class="panel-body" align="center">Fabex est l’association qui s’occupe du FabLab de l’eXia, elle monte des projets et des formations avec les outils à dispositions : imprimante 3D, kits Arduino…</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-star iconeassoc" aria-hidden="true"></span>
                        <h4>SPORT & EVENT 4 FUN</h4></div>
                    <div class="panel-body" align="center">Sport & Event for Fun est la section sportive du BDE, avec des activités le jeudi après-midi : foot, laser-game ou entrainement aux courses de Strasbourg. Elle organise aussi des événements participatifs sur le campus.</div>
                </div>
                <div class="col-md-4 col-lg-4 panel panel-default">
                    <div class="panel-heading" align="center">
                        <span class="glyphicon glyphicon-flash iconeassoc" aria-hidden="true"></span>
                        <h4>EXIALAB</h4></div>
                    <div class="panel-body" align="center">ExiaLab est une section qui fait de la recherche et des publications sur des technologies informatiques.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}