{% extends "::layout/layout.html.twig" %}
{% block title %}Activités à venir - BDE Exia{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-offset-2 col-md-8 col-lg-8">
            <h2 class="h2">Les activités à venir : </h2>
            <hr>

            <div class="row">
                <div class="col-md-2 col-lg-2">
                    <p> <a href="{{ path('nouvelle_activite') }}" class="newactivity">Les activités à venir</a></p>
                </div>
                <div class="col-md-2 col-lg-2">
                    <p> <a href="{{ path('ancienne_activite') }}" class="oldactivity">Les activités passées</a></p>
                </div>
            </div>
            <div id="activity" class="col-md-8 col-lg-8">
                <form class="cssform" action="">
                    <div class="row">
                        <p>Nom de l'activité</p>
                        <p><label for="comments">Description :</label>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                            <textarea class="form-control" id="comments" rows="5" cols="25"></textarea></p>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <p align="center"><img src="{{ asset('img/logo.jpg') }}"></p>
                        </div>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <div id="vote" class="col-md-1 col-lg-1">
                            <button type="submit" class="btn btn-default">S'inscrire</button>
                        </div>
                        {%endif%}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}