{% extends "::layout/layout.html.twig" %}
{% block title %}Validation activité - BDE Exia{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-md-2"></div>

        <div class="col-xs12 col-md-8">
            <h2 class="h2">Liste des propositions : </h2>
            <hr>



            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <p><label for="activityname">Nom de l'activité :</label>
                        <input class="form-control" type="text" id="activityname" value="" /></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <p><label for="activityplace">Lieu de l'activité :</label>
                        <input class="form-control" type="text" id="activityplace" value="" /></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <p><label for="activitydate">Date de l'activité :</label>
                        <input class="form-control" type="date" id="activitydate" value="" /></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <p>Valider <input type="radio" name="activityaction" />
                    Supprimer <input type="radio" name="activityaction" /></p>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="description" class="col-md-9">
                    <p><label for="comments">Description :</label>
                        <textarea class="form-control" id="comments" rows="5" cols="25"></textarea></p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p><label for="activityprice">Prix :</label>
                        <input class="form-control" type="email" id="activityprice" value="" /></p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p><label for="activityrecurence">Récurence : </label>
                    <p>Oui <input type="radio" name="activityaction" />
                        Non <input type="radio" name="activityaction" /></p></p>
                </div>
            </div>
            
            <div class="col-xs-12">
                <p align="center"><button type="submit" class="btn btn-default">Soumettre</button></p>
            </div>
        </div>

        <div class="col-xs-12 col-md-2"></div>
    </div>

 {% endblock %}